<% if logged_in? %>
  <div class="jumbotron">
    <h1>Welcome</h1>

    <p>Access examination and marshal records using the menu on the left.</p>
    <%= link_to "Logout", logout_path, method: :delete, class: "btn btn-lg btn-primary" %>
  </div>
<% else %>
  <div class="jumbotron">
    <h1>Welcome</h1>

    <p>Login below. If you're not registered, please ask an admin for an account.</p>

    <br />

    <div>
      <%= link_to "Login", login_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
<% end %>
