<h1>Welcome</h1>
<p>This application was designed to help manage numbers of external helpers (marshals) who were employed by the Australian Medical Council to assist in the clinical examination at the National Test Centre.</p>
<p>I created the app as a quicker reference to the frequent exams and improved on manual processes such as:</p>
<ul>
  <li>Counting the number of exams each marshal has attended</li>
  <li>Keeping track of those who have marshalled five or more times, as well as those who have not had many opportunities</li>
  <li>Reference of who is to be expected on the day of the exam</li>
  <li>Counting the number of marshals required for any given exam</li>
</ul>

<br />

<div style="text-align:center">
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
