<h1>Welcome</h1>

<ul>
  <li>Counting the number of exams each marshal has attended</li>
  <li>Keeping track of those who have marshalled five or more times, as well as those who have not had many opportunities</li>
  <li>Reference of who is to be expected on the day of the exam</li>
  <li>Counting the number of marshals required for any given exam</li>
</ul>

<p>Login below. If you're not registered, please let an admin know and it will be set up</p>

<br />

<div>
  <%= link_to "Login", login_path, class: "btn btn-lg btn-primary" %>
</div>
