<h1>Newcomers</h1>

<div class="row">
  <div class="col-md-6">
    <h4>Returning marshals</h4>
    <% @new_marshal.each do |marshal| %>
    <p>
      <span class="label label-primary"><%= marshal.exams.count %></span>
      <%= link_to marshal.name, controller: 'ntcmarshals', action: :show, id: marshal.id %>
      <br />
    </p>
    <% end %>
  </div>

  <div class="col-md-6">
    <h4>New marshals</h4>
    <% @brand_new.sort { |marshal1, marshal2| marshal1.name <=> marshal2.name }.each do |marshal| %>
    <p>
      <span class="label label-default"><%= marshal.exams.count %></span>
      <%= link_to marshal.name, controller: 'ntcmarshals', action: :show, id: marshal.id %>
      <br />
    </p>
    <% end %>
  </div>
</div>
<br />
