<h1>Newbies</h1>
<% @marshals.sort { |a, b| a.exams.count <=> b.exams.count }.each do |marshal| %>
  <% if marshal.exams.count < 4 %>    
    <% if marshal.exams.count == 0 %>
      <p>
        <span class="label label-default"><%= marshal.exams.count %></span>
        <%= link_to marshal.name, controller: 'ntcmarshals', action: :show, id: marshal.id %>
      </p>
    <% else %>
      <p>
        <span class="label label-primary"><%= marshal.exams.count %></span>
        <%= link_to marshal.name, controller: 'ntcmarshals', action: :show, id: marshal.id %>
      </p>
    <% end %>
  <% end %>
<% end %>
