@import "darkly";    

/*==============================*/

.nav {
   margin-top: 20px;
   text-indent: 20px;
}

.nav-length {
  height: 100%;
  width: 20%;
  position: fixed;
}

.long-field {
  width: 400px;
}

.long-area {
  width: 400px;
  height: 100px;
}

.error {
	background-color: #e74c3c !important;
	a {
		color: #fff;
	}
}