<p>
  <strong>Date:</strong>
  <%= @exam.date %>
</p>

<!-- This is to display what exams are allocated to what marshals -->
<p>
  <strong>Marshals scheduled:</strong>
</p>

<p>
  <% @exam.ntcmarshals.each do |ntcmarshal| %>
    <%= ntcmarshal.name %> <br />
  <% end %>
</p>

<!-- End of marshal exam allocation display -->
<%= link_to 'Edit', edit_exam_path %> | <%= link_to 'Back', exams_path %>