<div class="navbar navbar-default fill"> 
  <ul class="nav nav-stacked">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Marshals", controller: 'ntcmarshals' %></li>
    <li><%= link_to "Exams", controller: 'exams' %> </li>
    <li><%= link_to "Five timers", five_timers_path %> </li>
  </ul>
</div>
